/* Tombol Export Hijau */
.btn-export {
    background-color: #44c759; /* Warna hijau Excel */
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Tabel Pelaporan */
.report-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}

.report-table th, .report-table td {
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
}

.report-table th {
    background-color: #fff;
}

/* Pencarian */
.search-wrapper {
    position: relative;
}

.search-input {
    padding: 8px 35px 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 250px;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    cursor: pointer;
}